th i{
    float:right;
}
.arrow-down{
    width:0;
    height:0;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    border-top:8px solid black;
    font-size:0;
    line-height:0;
}
.arrow-up{
    width:0;
    height:0;
    border-left:8px solid transparent;
    border-right: 8px solid transparent;
    border-top:8px solid black;
    font-size:0;
    line-height:0;
}